@font-face {
  font-family: 'Vollkorn';
  src: url('Vollkorn-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Vollkorn';
  src: url('Vollkorn-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Vollkorn';
  src: url('Vollkorn-Black.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Vollkorn';
  src: url('Vollkorn-BlackItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Vollkorn';
  src: url('Vollkorn-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Vollkorn';
  src: url('Vollkorn-SemiboldItalic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Vollkorn';
  src: url('Vollkorn-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Vollkorn';
  src: url('Vollkorn-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}
